# Retrieved from our auth provider Kinde
KINDE_CLIENT_ID=8ae6d6974820477e8cb167182eb0f1d9
KINDE_CLIENT_SECRET=sLccqGkBhM579IZb2Ts0Uu5RUFysYhPMHnWBPGACg3BdtGKwsW
KINDE_ISSUER_URL=https://casecrockdev.kinde.com
KINDE_SITE_URL=https://casecobra-ihyo.vercel.app
KINDE_POST_LOGOUT_REDIRECT_URL=https://casecobra-ihyo.vercel.app
KINDE_POST_LOGIN_REDIRECT_URL=https://casecobra-ihyo.vercel.app/

NEXT_PUBLIC_SERVER_URL=https://casecobra-ihyo.vercel.app/

# Retrieved from our payment provider stripe
STRIPE_SECRET_KEY=
STRIPE_WEBHOOK_SECRET=

# Retrieved from file uploading service uploadthing
UPLOADTHING_SECRET=
UPLOADTHING_APP_ID=

# Retrieved from our hosted database at neon.tech
DATABASE_URL=

# (optional) Your email to access the secret admin dashboard
ADMIN_EMAIL=

# (optional) Retrieved from email sending service resend
RESEND_API_KEY=